<html>
    <head>
        <title>HouseMusic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Make music with your friends. Record your own sounds.">
    </head>
    <body>
        <a href="signup.html">Sign Up</a>
        <a href="login.html">Log In</a>
        <p> ERROR!!!!</p>
    </body>
</html>