body{
  margin: 0;
  padding: 0;
  background-color:#2a2f4a ;
  background-repeat: no-repeat;
  color: white;
}

#loginBox{
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 50px;
  background-color: #00000090;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
}

p1{
    color:white
}

h1{
  font-weight: 300;
  font-size: 45px;
  color: whitesmoke;
}

#loginBox h1{
  color: white;
  text-shadow: 2px 2px 4px white;
}

#loginBox .inputBox{
  margin-top: 40px;
}

#loginBox .inputBox .inputText{
  margin-top: 20px;
}

#loginBox .inputBox .inputText input{
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid white;
  background-color: #00000000;
  color:white;
}

#loginBox .signUp{
  text-align: center;
  color: white;
  margin-top: 12px;
}

a{
  color: #D7FFFE;
  text-shadow: 2px 2px 4px white;
}

#loginBox .inputBox .inputButton{
  border:0;
  width: 150px;
  height: 35px;
  color: black;
  margin-top: 30px;
  border-radius: 20px;
  /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
  background-color: rgb(248, 248, 158);
}

#loginBox .inputButton{
  cursor: pointer;
  text-shadow: 2px 2px 4px white;
}

#intro {
  color: white;
}

#EmailNotFound,#NotFound, #Insert {
  color: white;
  font-style: italic;
}

#header {
  display: flex;
  background-color: #2a2f4a;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
  cursor: default;
  font-weight: 600;
  height: 3.25em;
  left: 0;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  margin: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: block;
  height: 80px;
}
#header .logo {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  border: 0;
  display: inline-block;
  font-size: 30px;
  height: inherit;
  line-height: inherit;
  padding: 0 1.5em;
}

#header .logo strong {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #ffffff;
  color: #242943;
  display: inline-block;
  line-height: 1.65em;
  margin-right: 0.325em;
  padding: 0 0.125em 0 0.375em;
}
.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 10px;
 
}

.topnav li{
  display: inline-block;
  list-style: none;
  
}

.topnav li a{
transition: all 0.3s ease 0s;
font-size: 20px;
}

li{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600; 
  color: #2a2f4a;
  text-decoration: none;
}

.div1{
  transition: 4ms ease-in;
  padding-top: 80px;
  background-color:#2a2f4a ;  
}

button.top{
  transition: 0.2s ease-in-out;
  background-color: rgb(248, 248, 158);
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: normal;

}
button.top:hover{
  background-color: lightblue;
}

div {
  display: block;
}


