body{
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

#signUpBox{
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 50px;
  background-color: #00000090;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  text-align: center;
}

#signUpBox h1{
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px white;
}

p1{
    color:white;
}

#signUpBox .inputBox{
  margin-top: 45px;
}

#signUpBox .inputBox .inputText{
  margin-top: 25px;
}

#signUpBox .inputBox .inputText input{
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid white;
  background-color: #00000000;
  color:white;
}

#signUpBox .inputBox .inputButton{
  border:0;
  width: 150px;
  height: 35px;
  color: white;
  margin-top: 30px;
  border-radius: 20px;
  /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size:400% */
}

#signUpBox .inputButton{
  cursor: pointer;
  text-shadow: 2px 2px 4px white;
  font-size: 16px;
}

/* #signUpBox .inputButton:hover{
  animation: aurora 8s;
}

@keyframes aurora{
  100%{
    background-position: -400% 0;
  }
} */
