body{
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-repeat: repeat;
}

#signUpBox{
  /* margin: 0 auto;
  margin-top: 200px;
  margin-left: 37%; */
  padding: 20px 50px;
  background-color: #00000090;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  text-align: center;
  /* position:relative;
  top: 270px;
  left: 37%; */
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin:auto;
}

#signUpBox h1{
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px white;
}

#popMessage{
  /* background-color: blue; */
  text-align: center;
  position: relative;

}

p1{
    color:white;
    font-style: italic;
    font-size: 13px;
    text-align:center;
}

#signUpBox .inputBox{
  position: absolute;
  top: 100px;
  left: 30%;
}

#signUpBox .inputBox .inputText{
  margin-top: 25px;
}

#signUpBox .inputBox .inputText input{
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid white;
  background-color: #00000000;
  color:white;
}

#signUpBox .inputBox .inputButton{
  border:0;
  width: 150px;
  height: 35px;
  color: white;
  margin-top: 30px;
  border-radius: 20px;
  /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size:400% */
}

#signUpBox .inputButton{
  cursor: pointer;
  text-shadow: 2px 2px 4px white;
  font-size: 16px;
}

/* #signUpBox .inputButton:hover{
  animation: aurora 8s;
}
@keyframes aurora{
  100%{
    background-position: -400% 0;
  }
} */

.div1 a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

.topnav {
  position: relative;
  margin:auto;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  /* height: auto; */
  height: 55px;
}


.topnav .navbar{
  margin-left: 35px;
  /* border: 1px solid white; */
}

.topnav #title{
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-left: 20px;
}

.topnav .navbar:hover{
  border-bottom: 4px solid #00adb5;
  color: white;
  text-shadow: 2px 2px 4px white;
}

/*
#header {
  display: flex;
  background-color: #2a2f4a;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
  cursor: default;
  font-weight: 600;
  height: 3.25em;
  left: 0;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  margin: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: block;
  height: 80px;
}
#header .logo {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  border: 0;
  display: inline-block;
  font-size: 30px;
  height: inherit;
  line-height: inherit;
  padding: 0 1.5em;
}

#header .logo strong {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #ffffff;
  color: #242943;
  display: inline-block;
  line-height: 1.65em;
  margin-right: 0.325em;
  padding: 0 0.125em 0 0.375em;
}

.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 10px;

}

.topnav li{
  display: inline-block;
  list-style: none;

}

.topnav li a{
transition: all 0.3s ease 0s;
font-size: 20px;
}

li{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  color: #2a2f4a;
  text-decoration: none;
}

.div1{
  transition: 4ms ease-in;
  padding-top: 80px;
  background-color:#2a2f4a ;
}

button.top{
  transition: 0.2s ease-in-out;
  background-color: rgb(248, 248, 158);
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: normal;

}
button.top:hover{
  background-color: lightblue;
}

div {
  display: block;
} */
