<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
    <title>Forgot Password</title>
  </head>
  <body>
      <h1>Error: Page expired. Please try to reset your password again.</h1>
  </body>
</html>
