<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/login.css"/>
    <title>Forgot Password</title>
    <script src="signupscript.js"></script>
  </head>
  <body>
    <div id="loginBox">
      <h1>Password Recovery</h1>
    
      <div class="inputBox">

        <form action="" method="post">
		  <div class="inputText">
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus">
		  </div>
		  <div class="inputText">
		    <input type="password" name="confirm" value="" placeholder="Confirm password">
		  </div>
		  <div>
		    <button type="submit" class="inputButton" onclick="resetPassword()">Update Password</button>
          </div>
          
        </form>

      </div>
    </div>

  </body>
</html>
