<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
    <title>Forgot Password</title>
    <script src="/signupscript.js"></script>
  </head>
  <body>
    <div class="div1">
      <nav class="topnav">
          <a href="index.html" id="title">house music</a>
          <a href="index.html" class="navbar">home</a>
          <a href="login.html" class="navbar">login</a>
          <a href="signup.html" class="navbar">sign up</a>
          <a href="#" class="navbar">about</a>
      </nav>
    </div>
    <div id="loginBox">
      <h1>Password Recovery</h1>
    
      <div class="inputBox">

        <div>
          <p1 id = "PassError" style = "display:none">Password must contain between 6 and 25 characters!</p1>
          <p1 id = "PassError2" style = "display:none">Password must contain only numbers, letters, and common symbols (!@#$%^&*)!</p1>
            <p1 id="tokenNotMatch" style = "display:none"> Password reset token is invalid or has expired. </br></p1>
            <p1 id = "NotMatch" style = "display:none">Password do not Match</p1>
            <p1 id = "SuccessChanged" style = "display:none">Password changed.<br><a href="../login.html">Return to Log In</a> </p1>
          </div>

        <!-- <form action="" method="post"> -->
		  <div class="inputText">
		    <input type="password" id="passw" placeholder="New password" onclick="resetReset()">
		  </div>
		  <div class="inputText">
		    <input type="password" id="confirm" placeholder="Confirm password" onclick="resetReset()">
		  </div>
		  <div>
		    <button type="submit" class="inputButton" onclick="resetPassword()">Update Password</button>
          </div>
          
        <!-- </form> -->

      </div>
    </div>

  </body>
</html>
