<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
    <title>Forgot Password</title>
    <script src="/signupscript.js"></script>
  </head>
  <body>
    <div id="loginBox">
      <h1>Password Recovery</h1>
    
      <div class="inputBox">

        <div>
            <p1 id="tokenNotMatch" style = "display:none"> Password reset token is invalid or has expired. </br></p1>
            <p1 id = "NotMatch" style = "display:none">Password do not Match</p1>
            <p1 id = "SuccessChanged" style = "display:none">Password changed.</p1>
          </div>

        <!-- <form action="" method="post"> -->
		  <div class="inputText">
		    <input type="password" id="passw" placeholder="New password">
		  </div>
		  <div class="inputText">
		    <input type="password" id="confirm" placeholder="Confirm password">
		  </div>
		  <div>
		    <button type="submit" class="inputButton" onclick="resetPassword()">Update Password</button>
          </div>
          
        <!-- </form> -->

      </div>
    </div>

  </body>
</html>
